manifest {
    name        = 'ResistAI'
    author      = 'Kagan Saglam'
    description = 'Antibiotic resistance protein structural analysis pipeline'
    version     = '1.0.0'
    nextflowVersion = '>=25.0.0'
}

params {
    outdir     = 'results'
    max_cpus   = 8
    max_memory = '32.GB'
    max_time   = '24.h'
}

process {
    cpus   = 1
    memory = '2.GB'
    time   = '2.h'

    withName: 'FETCH_CARD' {
        cpus   = 1
        memory = '1.GB'
        time   = '1.h'
    }

    withName: 'RUN_ESMFOLD' {
        cpus   = 2
        memory = '4.GB'
        time   = '6.h'
    }

    withName: 'FIND_POCKETS' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }

    withName: 'SUMMARY_REPORT' {
        cpus   = 1
        memory = '1.GB'
        time   = '30.m'
    }
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled   = false
    }

    docker {
        process.executor  = 'local'
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    slurm {
        process.executor      = 'slurm'
        process.queue         = 'normal'
        docker.enabled        = false
        singularity.enabled   = true
        singularity.autoMounts = true
        process {
            withName: 'RUN_ESMFOLD' {
                cpus   = 8
                memory = '32.GB'
                time   = '12.h'
            }
        }
    }
lsf {
        process.executor      = 'lsf'
        process.queue         = 'research'
        docker.enabled        = false
        singularity.enabled   = true
        singularity.autoMounts = true
        process {
            withName: 'RUN_ESMFOLD' {
                cpus   = 8
                memory = '32.GB'
                time   = '12.h'
            }
        }
    }

    test {
        params.outdir = 'test_results'
        process {
            cpus   = 1
            memory = '2.GB'
            time   = '30.m'
        }
    }
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_timeline.html"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_dag.html"
}
